# Dependencies
node_modules/

# Build outputs
.next/

# Development files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.github/
.husky/
.vscode/

# OS
.DS_Store
Thumbs.db

# Misc
.cache/
.temp/
.tmp/

demo/
src/

# Config files
next.config.js
postcss.config.js
tsconfig.json
tsconfig.build.json
tsconfig.build.tsbuildinfo
eslint.config.mjs
.gitignore
.npmignore


